:root {
    --base-width: 300px;
    --input-border-radius: 6px;
    --input-border-width: 2px;
    --input-autocomplete-offset: -5px;

    --bg-color-primary: #d1e7c8;
    --bg-color-secondary: #e7e7e7;
    --bg-color-input: #edf5ec;
    --border-color-normal: #b4c1b2;
    --border-color-hightlight: #002f5c;
    --text-color-primary: #061528;
    --text-color-secondary: #2f3440;
    --kbd-color-border: grey;
    --kbd-color-bg: lightgrey;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    background-color: var(--bg-color-primary);
}

.loading {
    width: var(--base-width);
    margin-top: 1rem;
    height: 7px;
    border: 1px solid var(--border-color-normal);
}

.progress-bar {
    content: ' ';
    font-size: 1px;
    line-height: 1px;
    height: 5px;
    border: 0;
    background-color: var(--border-color-hightlight);
}

.hide {
    display: none !important;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    column-gap: 0;
    row-gap: 0;
    padding-top: 1rem;

    color: var(--text-color-primary);
}

.question {
    color: var(--text-color-secondary);
    font-size: 0.8rem;
}

.city-name {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.4em;
    margin-bottom: 0.5rem;
}

.input-container {
    width: var(--base-width);
}

.input-label {
    font-size: 0.8rem;
    color: var(--text-color-secondary);
}

.country-input {
    width: 100%;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    border: var(--input-border-width) solid var(--border-color-normal);
    border-radius: var(--input-border-radius);
    outline: none;
    background: var(--bg-color-input);
}

.country-input:focus {
    outline: none;
    border-color: var(--border-color-hightlight);
}

.autocomplete-container {
    position: relative;
}

.autocomplete {
    display: block;
    position: absolute;
    top: var(--input-autocomplete-offset);
    width: var(--base-width);
    border: var(--input-border-width) solid var(--border-color-hightlight);
    border-top-width: 0;
    border-bottom-left-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
}

.autocomplete-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;

    background: var(--bg-color-input);
    padding: 0.5rem;
}

.autocomplete-item:not(:last-child) {
    border-bottom: 1px solid var(--border-color-normal);
}

.autocomplete-item:last-child {
    border-bottom-left-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
}

.autocomplete-item:focus {
    background: var(--border-color-normal);
    outline: none;
}

.autocomplete-item.nothing-found {
    color: var(--text-color-secondary);
}

.autocomplete-item kbd {
    font-size: 0.7rem;
    line-height: 1rem;
    height: 1rem;
    width: 1rem;
    text-align: center;

    border: 1px solid var(--kbd-color-border);
    box-shadow: 1px 1px 0 var(--kbd-color-border);
    border-radius: 2px;
    background: var(--kbd-color-bg);
    color: var(--text-color-primary);
    font-family: monospace;
}

.autocomplete-item code {
    background: var(--bg-color-secondary);
    color: var(--text-color-primary);
    font-family: monospace;
    font-size: 0.9rem;
    padding: 0 2px;
}

.statistics {
    margin-top: 0.5rem;
}